<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <!-- Fontawesome CSS -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
  </head>

  <body class="bg-gray-200">
    {{#unless noLayout}}
      {{#if isAuthenticated}}
        <div class="h-screen flex">

          <!-- Barra lateral fija y más ancha -->
          <aside class="fixed top-0 left-0 h-full w-24 bg-gray-800 text-white flex flex-col items-center py-3 z-40">
            <!-- Iconos y etiquetas en columna -->
            <br><br>
            <a href="/" class="mb-6 flex flex-col items-center">
              <i class="fas fa-home text-3xl"></i>
              <label class="text-xs mt-2">Inicio</label>
            </a>
            <a href="/verCartaR" class="mb-6 flex flex-col items-center">
              <i class="fas fa-file-alt text-3xl"></i>
              <label class="text-xs mt-2">Cartas</label>
            </a>
            <a href="/servicios" class="mb-6 flex flex-col items-center">
              <i class="fas fa-cog text-3xl"></i>
              <label class="text-xs mt-2">Servicios</label>
            </a>
            <a href="/verUsuario" class="mb-6 flex flex-col items-center">
              <i class="fas fa-users text-3xl"></i>
              <label class="text-xs mt-2">Usuarios</label>
            </a>
            <a href="/verUsuario" class="mt-auto mb-6 flex flex-col items-center">
              <i class="fas fa-user text-3xl"></i>
              <label class="text-xs mt-2">Perfil</label>
            </a>
          </aside>

          <!-- Contenido principal ajustado -->
          <div class="flex-grow flex flex-col ml-24">
            <nav class="fixed top-0 left-24 right-0 flex items-center justify-between bg-gray-800 text-white px-4 py-3 z-50">
              <div class="text-md font-semibold">{{name}}</div>
              <a href="/logout" class="bg-red-500 hover:bg-red-700 py-1 px-3 rounded-md">
                <i class="fas fa-sign-out-alt"></i>
              </a>
            </nav>
            <div class="flex-grow bg-white p-4 mt-14">
              {{{body}}}
            </div>
          </div>
        </div>
      {{else}}
        <div class="flex items-center justify-center h-screen">
          <div class="bg-white p-5 rounded-lg shadow-lg w-full max-w-md">
            {{{body}}}
          </div>
        </div>
      {{/if}}
    {{else}}
      <div class="flex-grow bg-white p-4 mt-14">
        {{{body}}}
      </div>
    {{/unless}}
  </body>

</html>
