<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Carta R</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <!-- Botón de retroceso -->
<div class="mb-4">
    <button onclick="window.history.back()" class="text-gray-500 hover:text-gray-700">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
    <span class="ml-2">Regresar</span>
    </button>
</div>

<div class="max-w-5xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12 p-6">
        <h1 class="text-3xl font-bold mb-8">Editar Carta R</h1>

        <form action="/editarCarta/{{carta.ID_Carta_R}}" method="POST" class="space-y-6">

            <!-- Datos -->
            <div class="bg-gray-200 p-4 rounded-md mb-6 relative">
                <h2 class="font-bold text-xl mb-4">Datos</h2>
                <div class="grid grid-cols-1 gap-4">
                    <div>
                        <label class="font-semibold block mb-2">Num Serie</label>
                        <input type="text" name="Num_Serie" value="{{carta.Num_Serie}}" class="border border-gray-300 rounded-md w-full p-2" placeholder="Número de Serie" required>
                    </div>

                    <div>
                        <label class="font-semibold block mb-2">Resumen</label>
                        <textarea name="Resumen" class="border border-gray-300 rounded-md w-full p-2" placeholder="Resumen" required>{{carta.Resumen}}</textarea>
                    </div>
                </div>
            </div>
            
            <!-- Descripción de Equipo -->
            <div class="bg-gray-200 p-4 rounded-md mb-6 relative">
                <h2 class="font-bold text-xl mb-4">Descripción de Equipo</h2>
                <a href="/producto/editar/{{carta.Fk_Producto}}" class="absolute top-4 right-4 bg-green-500 text-white hover:bg-green-700 font-bold py-2 px-4 rounded-md">Editar</a>
                <div class="grid grid-cols-3 gap-4">
                    <div>
                        <label class="font-semibold block mb-2">Tipo</label>
                        <select class="border border-gray-300 rounded-md w-full p-2" name="Fk_Producto" id="productoSelect" required>
                            <option value="" disabled selected>Seleccionar Producto</option>
                            {{#each productos}}
                                <option value="{{ID_Producto}}">{{Nom_Producto}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div>
                        <label class="font-semibold block mb-2">Modelo</label>
                        <input type="text" name="Modelo" id="modeloInput" class="border border-gray-300 rounded-md w-full p-2" placeholder="Modelo" required>
                    </div>

                    <div>
                        <label class="font-semibold block mb-2">Proveedor</label>
                        <select class="border border-gray-300 rounded-md w-full p-2" name="Fk_Proveedor" id="proveedorSelect">
                            <option value="" disabled selected>Seleccionar Proveedor</option>
                            {{#each proveedores}}
                                <option value="{{Id_Proveedor}}">{{Nom_Proveedor}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div>
                        <label class="font-semibold block mb-2">Marca</label>
                        <select class="border border-gray-300 rounded-md w-full p-2" name="Fk_Marca" id="marcaSelect">
                            <option value="" disabled selected>Seleccionar Marca</option>
                            {{#each marcas}}
                                <option value="{{Id_Marca}}">{{Nom_Marca}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div>
                        <label class="font-semibold block mb-2">Precio Total</label>
                        <input type="text" name="Precio_Total" id="precioInput" class="border border-gray-300 rounded-md w-full p-2" placeholder="Precio Total">
                    </div>

                    <div class="flex items-center">
                        <label class="font-semibold block mr-2">+IVA</label>
                        <input type="checkbox" name="IVA" id="ivaCheckbox" class="border-gray-300">
                    </div>

                    <div class="col-span-3">
                        <label class="font-semibold block mb-2">Características</label>
                        <textarea name="Caracteristicas" id="caracteristicasTextarea" class="border border-gray-300 rounded-md w-full p-2" placeholder="Características"></textarea>
                    </div>
                </div>
            </div>

            <!-- Descripción de Software -->
            <div class="bg-gray-200 p-4 rounded-md mb-6 relative">
                <h2 class="font-bold text-xl mb-4">Descripción de Software</h2>
                <a href="/software/editar//{{carta.Fk_Sistema}}" class="absolute top-4 right-4 bg-green-500 text-white hover:bg-green-700 font-bold py-2 px-4 rounded-md">Editar</a>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="font-semibold block mb-2">Software</label>
                        <select class="border border-gray-300 rounded-md w-full p-2" name="Fk_Sistema" id="sistemaSelect" required>
                            <option value="" disabled selected>Seleccionar Sistema</option>
                            {{#each sistemas}}
                                <option value="{{ID_Sistemas}}">{{Nom_Software}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div>
                        <label class="font-semibold block mb-2">Licencia</label>
                        <input type="text" name="Licencia" id="licenciaInput" class="border border-gray-300 rounded-md w-full p-2" placeholder="Licencia">
                    </div>

                    <div>
                        <label class="font-semibold block mb-2">Versión</label>
                        <input type="text" name="Version" id="versionInput" class="border border-gray-300 rounded-md w-full p-2" placeholder="Versión">
                    </div>
                </div>
            </div>

            <!-- Datos de Área -->
            <div class="bg-gray-200 p-4 rounded-md mb-6 relative">
                <h2 class="font-bold text-xl mb-4">Datos de Área</h2>
                <a href="/editarAgencia/{{carta.Fk_Agencia}}" class="absolute top-4 right-4 bg-green-500 text-white hover:bg-green-700 font-bold py-2 px-4 rounded-md">Editar</a>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="font-semibold block mb-2">Departamento</label>
                        <select class="border border-gray-300 rounded-md w-full p-2" name="Fk_Agencia" id="agenciaSelect">
                            <option value="" disabled selected>Seleccionar Departamento</option>
                            {{#each agencias}}
                                <option value="{{Id_Area}}">{{Nom_Agencia}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div>
                        <label class="font-semibold block mb-2">Num Agencia</label>
                        <input type="text" name="Num_Agencia" id="numAgenciaInput" class="border border-gray-300 rounded-md w-full p-2" placeholder="Número de Agencia">
                    </div>
                    <div>
                        <label class="font-semibold block mb-2">Departamento</label>
                        <input type="text" name="Departamento" id="departamentoInput" class="border border-gray-300 rounded-md w-full p-2" placeholder="Número de Agencia">
                    </div>
                </div>
            </div>

            <!-- Datos del usuario -->
            <div class="bg-gray-200 p-4 rounded-md mb-6">
                <h2 class="font-bold text-xl mb-4">Datos del Usuario</h2>
                <a href="/usuario/editar/{{carta.Fk_Usuario}}" class="absolute top-4 right-4 bg-green-500 text-white hover:bg-green-700 font-bold py-2 px-4 rounded-md">Editar</a>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="font-semibold block mb-2">Nombre del Encargado</label>
                        <select class="border border-gray-300 rounded-md w-full p-2" name="Fk_Usuario" id="usuarioSelect">
                            <option value="" disabled selected>Seleccionar Usuario</option>
                            {{#each usuarios}}
                                <option value="{{ID_Usuario}}">{{Nombre_U}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>

            <!-- Enviar formulario -->
            <div class="flex justify-end">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-md">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Función para manejar cambios en los select y autocompletar los campos
    function cargarDatos(tipo, id) {
        fetch(`/crearCartaR/${tipo}/${id}`)
            .then(response => response.json())
            .then(data => {
                if (data) {
                    switch(tipo) {
                        case 'producto':
                            document.getElementById('modeloInput').value = data.modelo || '';
                            document.getElementById('precioInput').value = data.precio_total || '';
                            document.getElementById('caracteristicasTextarea').value = data.caracteristicas || '';

                            // Set Marca and Proveedor select options based on fetched data
                            const marcaSelect = document.getElementById('marcaSelect');
                            const proveedorSelect = document.getElementById('proveedorSelect');
                            
                            // Clear existing options and set the correct one based on data
                            marcaSelect.innerHTML = `<option value="${data.marca_id}" selected>${data.marca}</option>`;
                            proveedorSelect.innerHTML = `<option value="${data.proveedor_id}" selected>${data.proveedor}</option>`;
                            break;
                        case 'sistema':
                            document.getElementById('licenciaInput').value = data.licencia || '';
                            document.getElementById('versionInput').value = data.version || '';
                            break;
                        case 'agencia':
                            document.getElementById('numAgenciaInput').value = data.num_agencia || '';
                            document.getElementById('departamentoInput').value = data.departamento || '';
                            break;
                        case 'usuario':
                            document.getElementById('ApellidoUInput').value = data.apellido || '';
                            break;
                    }
                }
            })
            .catch(error => console.error(`Error al obtener los datos de ${tipo}:`, error));
    }

    // Agregar event listeners a cada select para llamar cargarDatos con el tipo adecuado
    document.getElementById('productoSelect').addEventListener('change', function() {
        cargarDatos('producto', this.value);
    });
    document.getElementById('sistemaSelect').addEventListener('change', function() {
        cargarDatos('sistema', this.value);
    });
    document.getElementById('agenciaSelect').addEventListener('change', function() {
        cargarDatos('agencia', this.value);
    });
    document.getElementById('usuarioSelect').addEventListener('change', function() {
        cargarDatos('usuario', this.value);
    });
</script>
</body>
</html>
